/*
* @Author: Administrator
* @Date:   2017-04-03 21:24:58
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-06 21:54:18
*/
.table{
	border-top: solid 1px;
	border-left: solid 1px;
	text-align: center;
}
.table td, th{
	border-right: solid 1px;
	border-bottom: solid 1px;
	padding: 20px;
	font-size: 24px;
}
.table th{
	background: #8964F0;
	color: white;
	position: relative;
}
.table th span{
	position: absolute;
	cursor: pointer;
}
.table th span:first-child{
	top: 10px;
	right: 0;
}
.table th span:last-child{
	bottom: 10px;
	right: 0;
}